@import 'tailwindcss';

@font-face {
  font-family: 'Serafina:Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Serafina-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Serafina:Swash';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Serafina-Swash.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins:Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins:Medium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Poppins-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins:SemiBold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
